# top-most Editorconfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final newline = true
indet_stile = space
indet_size = 2
trim_trailing_whitspace = true

[*.md]
trim_trailing_whitspace = false
